/* 

Classes:
    introtext
    totop
    skip
    subtitle
    link
    itchsteam
    itchsingle
    ytembed
    webgl
    pdf
    current (current page)
    contact_btns

IDs:
    totop (ALL)
    main (ALL)

    whoami (index)
    questions (index)
    
    random (music)
    cellosseum (music)
    nikhilsim (music)
    overdev (music)
    granny (music)
    bee (music)
    gespinstish (music)
    skyline (music)

    email (contact)
    linkedin (contact)
    yt (contact)

*/

html {
    scroll-behavior: smooth;
}

div {
    display: block;
    margin: auto;
    margin-top: 30px;
}

div:last-child {
    margin-bottom: 60px;
}

body {
    background-color: #306eb4;
    color: white;
    font-size: 25px;
    font-family: 'Poppins';
    text-align: center;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.current {
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
}

h1 {
    font-size: 75px;
    text-decoration: underline;
}

h2 {
    font-size: 50px;
}

h2.subtitle {
    font-size: 20px;
    color: rgb(214, 214, 214);
}

h3 {
    font-size: 40px;
    color: rgb(166, 212, 255);
}

h3 a:hover {
    color: rgb(75, 168, 255);
}

#email h2, #linkedin h2, #yt h2 {
    font-size: 40px;
    color: rgb(166, 212, 255);
}

#email h2 a:hover, #linkedin h2 a:hover, #yt h2 a:hover {
    font-size: 40px;
    color: rgb(166, 212, 255);
}

p {
    padding: 0px 160px;
}


#totop {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;

    background-color: rgba(255, 255, 255, .4);
    
    color: black;
    border: 5px solid black;
    border-top-left-radius: 5px;
    padding: 0px 2px;
}

#totop {
    opacity: 0;
    transition: opacity 1s, visibility 1s;
}

#totop.show {
    display: block;
    opacity: 1;
    visibility: visible;
}

#skip {
    background-color: white;
    color: black;
    border: 5px solid black;
    border-bottom-right-radius: 5px;
    padding: 0px 2px;
    position: absolute;
    left: -500px;
}

#skip:focus {
    left: 0px;
    top: 0px;
}

#medeets {
    padding: 0px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#medeets p {
    margin: auto;
    padding: 0px 70px;
}

#mepic {
    width: 500px;
    margin: auto;
}

.pdf {
    width: 1060px;
    height: 800px;
}

iframe {
    border: none;
}

.ytembed {
    margin: 20px;
    width: 560px;
    height: 315px;
}

.link {
    color: rgb(166, 212, 255);
    text-decoration: underline;
}

.webgl {
    width: 960px;
    height: 700px;
}

.itchsteam {
    display: block;
    padding: 5px;
}

.itchsteam img {
    height: 75px;
}

.itchsingle {
    height: 100px;
    margin: 15px;
}

.contact_btns {
    padding: 0px 300px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contact_btns div {
    margin: auto;
}

.contact_btns div a img {
    width: 100px;
}

@media screen and (max-width: 600px) {

    body {
        font-size: 15px;
    }

    nav div a {
        font-size: 10px;
    }

    .current {
        font-size: 15px;
    }

    div {
        margin-top: 15px;
    }

    p {
        padding: 0px 40px;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 25px;
    }

    h2.subtitle {
        font-size: 10px;
    }

    h3 {
        font-size: 20px;
    }

    .ytembed {
        width: 300px;
        height: 200px;
    }

    .webgl {
        display: none;
    }

    .totop {
        display: none;
    }

    .pdf {
        width: 400px;
        height: 400px;
    }

    #medeets {
        display: inline;
    }

    #mepic {
        width: 200px;
        margin-top: 20px;
    }

    .contact_btns {
        display: inline;
    }
    
    .contact_btns div {
        padding-bottom: 50px;
    }
    
}

@media (prefers-reduced-motion: reduce) {

    html {
        scroll-behavior: unset;
    }

}