html {
    scroll-behavior: smooth;
}

div {
    display: block;
    margin: auto;
    margin-top: 30px;
}

.perftext {
    text-align: left;
}

.h2head {
    text-align: center;
}

div:last-child {
    margin-bottom: 60px;
}

body {
    background-color: #fef1dd;
    color: black;
    font-size: 25px;
    font-family: 'Poppins';
    text-align: center;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding-bottom: 20px;
}

.perfnav {
    display: inline;
}

nav div {
    margin: auto;
}

.current {
    padding: 7px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
}

nav div:last-child {
    margin-bottom: 7px;
}

h1 {
    font-size: 75px;
    text-decoration: underline;
}

#sirtitle {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h2.subtitle {
    font-size: 20px;
    color: rgb(214, 214, 214);
}

h3 {
    font-size: 40px;
    color: rgb(166, 212, 255);
}

h3 a:hover {
    color: rgb(75, 168, 255);
}

#email h2, #linkedin h2, #yt h2 {
    font-size: 40px;
    color: rgb(166, 212, 255);
}

#email h2 a:hover, #linkedin h2 a:hover, #yt h2 a:hover {
    font-size: 40px;
    color: rgb(166, 212, 255);
}

p {
    padding: 0px 140px;
}

#skip {
    background-color: white;
    color: black;
    border: 5px solid black;
    border-bottom-right-radius: 5px;
    padding: 0px 2px;
    position: absolute;
    left: -500px;
}

#skip:focus {
    left: 0px;
    top: 0px;
}

/* *:focus {
    border: solid 3px red;
} */

#perfdeets {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#perfpic {
    width: 600px;
    margin: auto;
}

#geetapic {
    width: 800px;
    margin: auto;
}

#perfsolo {
    width: 800px;
    margin: auto;
    padding-bottom: 30px;
}

.desctext {
    font-size: 20px;
}

#invitepic {
    width: 1000px;
    margin: auto;
}

.pdf {
    width: 1060px;
    height: 800px;
}

iframe {
    border: none;
}

.gforms {
    width: 900px;
    height: 1700px;
}

.ytembed {
    margin: 20px;
    width: 560px;
    height: 315px;
}

.link {
    color: rgb(23, 96, 164);
    text-decoration: underline;
}

#blurb {
    font-size: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.perfs {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bullet_list {
    margin: 10px 150px;
    font-weight: bold;
}

.bullet_list ul {
    list-style-type: disc;
    list-style-position: inside;
}




@media screen and (max-width: 600px) {

    nav div a {
        font-size: smaller;
    }

    body {
        font-size: 18px;
    }

    div {
        margin-top: 15px;
    }

    p {
        padding: 0px 20px;
    }

    h1 {
        font-size: 30px;
    }

    #sirtitle {
        font-size: 25px;
    }

    h2 {
        font-size: 17px;
    }

    .h2head {
        font-size: 25px;
    }

    h2.subtitle {
        font-size: 10px;
    }

    h3 {
        font-size: 20px;
    }

    .desctext {
        font-size: 15px;
    }

    .ytembed {
        width: 300px;
        height: 200px;
    }

    .webgl {
        display: none;
    }

    .totop {
        display: none;
    }

    .pdf {
        width: 400px;
        height: 400px;
    }

    #perfdeets {
        display: inline;
    }

    .perfs {
        display: inline;
    }

    #perfpic {
        width: 500px;
        margin: auto;
    }

    #invitepic {
        width: 500px;
        margin-top: 20px;
    }

    .gforms {
        width: 300px;
        height: 1450px;
    }

    #blurb {
        font-size: 20px;
    }

    .bullet_list {
        margin: 10px 10px;
        font-weight: bold;
    }
    .bullet_list ul li {
        margin: 5px;
    }
    
}

@media (prefers-reduced-motion: reduce) {

    html {
        scroll-behavior: unset;
    }

}