/* 

Classes:
    introtext
    totop
    skip
    subtitle
    link
    itchsteam
    itchsingle
    ytembed
    webgl
    pdf
    current (current page)

IDs:
    totop (ALL)
    main (ALL)

    whoami (index)
    contents (index)
    questions (index)
    
    random (music)
    cellosseum (music)
    nikhilsim (music)
    overdev (music)
    granny (music)
    bee (music)
    gespinstish (music)
    skyline (music)

    email (contact)
    linkedin (contact)
    yt (contact)

*/

html {
    scroll-behavior: smooth;
}

div {
    display: block;
    margin: auto;
    margin-top: 30px;
}

div:last-child {
    margin-bottom: 60px;
}

body {
    background-color: #91b8a0;
    color: black;
    font-size: 25px;
    font-family: 'Poppins';
    text-align: center;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 20px;
}

nav div {
    margin: auto;
    padding: 5px;
    border: 2px solid white;
    border-radius: 5px;
}

.current {
    font-size: 150%;
}

nav div:last-child {
    margin-bottom: 7px;
}

h1 {
    font-size: 75px;
    text-decoration: underline;
}

h2 {
    font-size: 40px;
}

h2.subtitle {
    font-size: 20px;
    color: rgb(214, 214, 214);
}

h3 {
    font-size: 40px;
    color: rgb(166, 212, 255);
}

h3 a:hover {
    color: rgb(75, 168, 255);
}

#email h2, #linkedin h2, #yt h2 {
    font-size: 40px;
    color: rgb(166, 212, 255);
}

#email h2 a:hover, #linkedin h2 a:hover, #yt h2 a:hover {
    font-size: 40px;
    color: rgb(166, 212, 255);
}

p {
    padding: 0px 50px;
}


#totop {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;

    background-color: rgba(255, 255, 255, .4);
    
    color: black;
    border: 5px solid black;
    border-top-left-radius: 5px;
    padding: 0px 2px;
}

#totop {
    opacity: 0;
    transition: opacity 1s, visibility 1s;
}

#totop.show {
    display: block;
    opacity: 1;
    visibility: visible;
}

#skip {
    background-color: white;
    color: black;
    border: 5px solid black;
    border-bottom-right-radius: 5px;
    padding: 0px 2px;
    position: absolute;
    left: -500px;
}

#skip:focus {
    left: 0px;
    top: 0px;
}

/* *:focus {
    border: solid 3px red;
} */

#perfdeets {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#perfpics {
    width: 500px;
    margin: auto;
}

.desctext {
    font-size: 20px;
}

#invitepic {
    width: 1000px;
    margin: auto;
}

.pdf {
    width: 1060px;
    height: 800px;
}

iframe {
    border: none;
}

.gforms {
    width: 900px;
    height: 2000px;
}

.ytembed {
    margin: 20px;
    width: 560px;
    height: 315px;
}

.link {
    color: rgb(23, 96, 164);
    text-decoration: underline;
}


 /* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 800px;
  height: 535px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #91b8a0;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  transform: rotateY(180deg);
}

.flip-card-back h1 {
    font-size: 35px;
    padding-bottom: 5px;
}

.flip-card-back p {
    font-size: 20px;
}

#blurb {
    padding-top: 10px;
    padding-bottom: 10px;
}




@media screen and (max-width: 600px) {

    nav div a {
        font-size: smaller;
    }

    body {
        font-size: 15px;
    }

    div {
        margin-top: 15px;
    }

    p {
        padding: 0px 20px;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 17px;
    }

    .h2head {
        font-size: 20px;
    }

    h2.subtitle {
        font-size: 10px;
    }

    h3 {
        font-size: 20px;
    }

    .desctext {
        font-size: 15px;
    }

    .gforms {
        width: 500px;
        height: 1000px;
    }

    .ytembed {
        width: 300px;
        height: 200px;
    }

    .webgl {
        display: none;
    }

    .totop {
        display: none;
    }

    .pdf {
        width: 400px;
        height: 400px;
    }

    #perfdeets {
        display: inline;
    }

    #perfpics {
        width: 500px;
        margin: auto;
    }

    #invitepic {
        width: 500px;
        margin-top: 20px;
    }

    .gforms {
        width: 400px;
        height: 1600px;
    }

    .flip-card {
        width: 400px;
        height: 267px;
    }

    .flip-card-back h1 {
        font-size: 20px;
        padding-bottom: 5px;
    }

    .flip-card-back p {
        font-size: 10px;
    }
    
}

@media (prefers-reduced-motion: reduce) {

    html {
        scroll-behavior: unset;
    }

}